<h2>QUESTION 1 ANSWER ⬇️</h2>

In [1]:
import re

In [2]:
import regex as re

In [134]:
pattern = r"[\s|,|\.]"

In [139]:
string = 'Python Exercises, PHP exercises.'

In [138]:
output1 = re.sub(pattern, ":", string)
print(output1)

Python:Exercises:PHP:exercises:

<h2>QUESTION 2 ANSWER ⬇️</h2>

In [6]:
pattern = r"[!,X+,:;.\d]"

In [7]:
string = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [8]:
for x in string['SUMMARY']:
    output2 = re.sub(pattern, " ", x)
    print(output2)

hello  world
      test
   four  five   six

<h2>QUESTION 3 ANSWER ⬇️</h2>

In [9]:
def patternfind1(string):
    re_obj1 = re.compile(r"[\S.]{4,}")
    output3 = re_obj1.findall(string)
    print(output3)

In [10]:
string = "FHJ=SH HH SDH%FSD ds34dhg HH&HH"

In [11]:
patternfind1(string)

['FHJ=SH', 'SDH%FSD', 'ds34dhg', 'HH&HH']

<h2>QUESTION 4 ANSWER ⬇️</h2>

In [12]:
def patternfind2(string):
    re_obj1 = re.compile(r"\b\w{3,5}\b")
    output4 = re_obj1.findall(string)
    print(output4)

In [13]:
string = "ffgg erase dd ddg sdhjkfsssefegu"

In [14]:
patternfind2(string)

['ffgg', 'erase', 'ddg']

<h2>QUESTION 5 ANSWER ⬇️ </h2>

In [15]:
def patternfind3(list):
    re_obj2 = re.compile(r"[()]")
    for x in list:
        output5=re_obj2.sub("", x)
        print(output5)

In [16]:
list = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [17]:
patternfind3(list)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

<h2>QUESTION 6 ANSWER ⬇️</h2>

In [18]:
with open('text1.txt', 'r') as file:
    string = file.read()
    print('Sample String : \n',string)
    print("\n")
    re_obj3 = re.compile(r"[()]")
    output6 = re_obj3.sub("",string)
    print("The Output is as follows :")
    print('\n')
    print(output6)

Sample String :
 ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


The Output is as follows :


["example .com", "hr@fliprobo .com", "github .com", "Hello Data Science World", "Data Scientist"]

<h2>QUESTION 7 ANSWER ⬇️</h2>

In [19]:
pattern = r"[A-Z][^A-Z]*"

In [20]:
string1 = "ImportanceOfRegularExpressionsInPython"

In [21]:
re.findall(pattern, string1)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

<h2>QUESTION 8 ANSWER ⬇️</h2>

In [22]:
string = "RegularExpression1IsAn2ImportantTopic3InPython"

In [23]:
def replace1(string):
    pattern = r"([\d]+[\D]*)"
    output8=re.sub(pattern, r" \1", string)
    print(output8)

In [24]:
replace1(string)

RegularExpression 1IsAn 2ImportantTopic 3InPython

<h2>QUESTION 9 ANSWER ⬇️</h2>

In [25]:
string = "RegularExpression1IsAn2ImportantTopic3InPython"

In [26]:
def replace2(string):
    pattern = r"([A-Z][^A-Z0-9]*|[\d])"
    
    re.findall(pattern, string)
    
    output9 = re.sub(pattern, r" \1", string)

    print(output9)

In [27]:
replace2(string)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

<h2>QUESTION 10 ANSWER ⬇️</h2>

In [28]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [30]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [31]:
df['Country'].value_counts()

Country
Switzerland    1
Bangladesh     1
Greece         1
Lebanon        1
Hungary        1
              ..
Kazakhstan     1
Slovenia       1
Lithuania      1
Nicaragua      1
Togo           1
Name: count, Length: 158, dtype: int64

In [32]:
df[df['Country'].str.contains(r'S\w+', regex=True)]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011
23,Singapore,Southeastern Asia,24,6.798,0.03780,1.52186,1.02000,1.02525,0.54252,0.49210,0.31105,1.88501
34,Saudi Arabia,Middle East and Northern Africa,35,6.411,0.04633,1.39541,1.08393,0.72025,0.31048,0.32524,0.13706,2.43872
35,Spain,Western Europe,36,6.329,0.03468,1.23011,1.31379,0.95562,0.45951,0.06398,0.18227,2.12367
39,Suriname,Latin America and Caribbean,40,6.269,0.09811,0.99534,0.97200,0.60820,0.59657,0.13633,0.16991,2.79094
41,El Salvador,Latin America and Caribbean,42,6.130,0.05618,0.76454,1.02507,0.67737,0.40350,0.11776,0.10692,3.03500
44,Slovakia,Central and Eastern Europe,45,5.995,0.04267,1.16891,1.26999,0.78902,0.31751,0.03431,0.16893,2.24639
46,South Korea,Eastern Asia,47,5.984,0.04098,1.24461,0.95774,0.96538,0.33208,0.07857,0.18557,2.21978
54,Slovenia,Central and Eastern Europe,55,5.848,0.04251,1.18498,1.27385,0.87337,0.60855,0.03787,0.25328,1.61583
86,Serbia,Central and Eastern Europe,87,5.123,0.04864,0.92053,1.00964,0.74836,0.20107,0.02617,0.19231,2.02500
90,Somaliland region,Sub-Saharan Africa,91,5.057,0.06161,0.18847,0.95152,0.43873,0.46582,0.39928,0.50318,2.11032
100,Swaziland,Sub-Saharan Africa,101,4.867,0.08742,0.71206,1.07284,0.07566,0.30658,0.03060,0.18259,2.48676
112,South Africa,Sub-Saharan Africa,113,4.642,0.04585,0.92049,1.18468,0.27688,0.33207,0.08884,0.11973,1.71956
117,Sudan,Sub-Saharan Africa,118,4.550,0.06740,0.52107,1.01404,0.36878,0.10081,0.14660,0.19062,2.20857
122,Sierra Leone,Sub-Saharan Africa,123,4.507,0.07068,0.33024,0.95571,0.00000,0.40840,0.08786,0.21488,2.51009
131,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
141,Senegal,Sub-Saharan Africa,142,3.904,0.03608,0.36498,0.97619,0.43540,0.36772,0.10713,0.20843,1.44395
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858

In [33]:
df['Country'].unique()

array(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland',
       'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel',
       'Costa Rica', 'Austria', 'Mexico', 'United States', 'Brazil',
       'Luxembourg', 'Ireland', 'Belgium', 'United Arab Emirates',
       'United Kingdom', 'Oman', 'Venezuela', 'Singapore', 'Panama',
       'Germany', 'Chile', 'Qatar', 'France', 'Argentina',
       'Czech Republic', 'Uruguay', 'Colombia', 'Thailand',
       'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Suriname',
       'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Uzbekistan',
       'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy',
       'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia',
       'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia',
       'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Cyprus',
       'Algeria', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong',
       'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan',
       'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan',
       'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal',
       'Latvia', 'Philippines', 'Somaliland region', 'Morocco',
       'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina',
       'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland',
       'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan',
       'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran',
       'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia',
       'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia',
       'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia',
       'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka',
       'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali',
       'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon',
       'Niger', 'Cambodia', 'Tanzania', 'Madagascar',
       'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast',
       'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria',
       'Burundi', 'Togo'], dtype=object)

In [34]:
df['first_five_letters'] = df['Country'].str.extract(r"(^[\w\s]{0,6})", flags=0, expand=True,)

In [36]:
df[df['Country']=='United States']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.1589,0.40105,2.51011,United

<h2>QUESTION 11 ANSWER ⬇️</h2>

In [126]:
pattern = r"^[A-Za-z0-9_]*$"

In [129]:
string = input('Enter a String -')

Enter a String - Normal_Sentence1

In [130]:
print(re.search(pattern, string))
print(re.match(pattern, string))
print(re.findall(pattern, string))

<regex.Match object; span=(0, 16), match='Normal_Sentence1'>
<regex.Match object; span=(0, 16), match='Normal_Sentence1'>
['Normal_Sentence1']

<h2>QUESTION 12 ANSWER ⬇️</h2>

In [38]:
pattern = r"\s\d+\w+"

In [39]:
string = input('Enter string : ')

Enter string :  vjsmd 5hjfdsf 43428dsjb

In [40]:
re.findall(pattern, string)

[' 5hjfdsf', ' 43428dsjb']

In [42]:
number = input('Enter a number-')
string = input("Please enter a string -")
output12 = re.match(number, string)
print(output12)

Enter a number- 4673
Please enter a string - 4673 hsdjgfsh AGHJA haskdha

<regex.Match object; span=(0, 4), match='4673'>

<h2>QUESTION 13 ANSWER ⬇️</h2>

In [46]:
pattern = r"\.0+"

In [47]:
string = input('Enter IP ADDRESS : ')

Enter IP ADDRESS :  192.168.024.002

In [48]:
re.findall(pattern, string)

['.0', '.00']

In [49]:
output13=re.sub(pattern, ".", string)
print(output13)

192.168.24.2

<h2>QUESTION 14 ANSWER ⬇️</h2>

In [50]:
string = " On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’."

In [51]:
pattern = r"\w{1,10}\s\d{1,2}\w{2}\s\d{4}"

In [52]:
re.findall(pattern, string)

['August 15th 1947']

In [53]:
string2 = "USA GOT ITS INDEPENDENCE ON JULY 4TH 1776 IN PHILADELPHIA MARCH 02nd 1888"

In [54]:
re.findall(pattern, string2)

['JULY 4TH 1776', 'MARCH 02nd 1888']

<h2>QUESTION 15 ANSWER ⬇️</h2>

In [55]:
import re

In [56]:
import regex as re

In [57]:
pattern = r"fox|dog|horse"

In [58]:
string4 = "The quick brown fox jumps over the lazy dog."

In [59]:
output15 = re.findall(pattern, string4)

In [60]:
re.search(pattern, string4)

In [61]:
for match in output15:
    print(f"The matched word found is \"{match}\"")

The matched word found is "fox"
The matched word found is "dog"

<h2>QUESTION 16 ANSWER ⬇️</h2>

In [62]:
pattern = r"fox"

In [63]:
string = "The quick brown fox jumps over the lazy dog."

In [64]:
output16=re.search(pattern, string)
print(output16)

<regex.Match object; span=(16, 19), match='fox'>

In [65]:
print("The matched word found : ",output16.group(),"\nThe indexing of the matched word is : " ,output16.span())

The matched word found :  fox
The indexing of the matched word is :  (16, 19)

<h2>QUESTION 17 ANSWER ⬇️</h2>

In [66]:
pattern = r"exercises"

In [67]:
string5 =  'Python exercises, PHP exercises, C# exercises'

In [68]:
re.findall(pattern, string5)

['exercises', 'exercises', 'exercises']

In [69]:
re_obj3 = re.compile(pattern)

In [70]:
re_obj3.findall(string5)

['exercises', 'exercises', 'exercises']

In [71]:
for item in re_obj3.finditer(string5):
    print(item.group(), "\t\tThe index position of the word is -",item.span(),"\n")

exercises 		The index position of the word is - (7, 16)

exercises 		The index position of the word is - (22, 31)

exercises 		The index position of the word is - (36, 45)

<h2>QUESTION 18 ANSWER ⬇️</h2>

In [72]:
pattern = r"exercises"

In [73]:
string6 = "Python exercises, PHP exercises, C# exercises"

In [74]:
re_obj4 = re.compile(pattern)

In [75]:
for x in re_obj4.finditer(string6):
    print("The word :", x.group(),"\t&\tThe indexing position is :",x.span())

The word : exercises 	&	The indexing position is : (7, 16)
The word : exercises 	&	The indexing position is : (22, 31)
The word : exercises 	&	The indexing position is : (36, 45)

<h2>QUESTION 19 ANSWER ⬇️</h2>

In [76]:
pattern = r"(\d{4})-(\d{2})-(\d{2})"

In [77]:
string19 = "Today's date is 2024-03-06 AND RANDOM DATE IS 1957-02-22"

In [78]:
re.search(pattern, string19)

In [79]:
re.findall(pattern, string19)

[('2024', '03', '06'), ('1957', '02', '22')]

In [80]:
re.sub(pattern, r"\3-\2-\1", string19)

"Today's date is 06-03-2024 AND RANDOM DATE IS 22-02-1957"

<h2>QUESTION 20 ANSWER ⬇️</h2>

In [81]:
pattern = r"\b\d*\.\d{1,2}\b"

In [82]:
string20 = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [83]:
re_obj5 = re.compile(pattern)

In [84]:
re_obj5.findall(string20)

['01.12', '145.8', '3.01', '27.25', '0.25']

<h2>QUESTION 21 ANSWER ⬇️</h2>

In [85]:
pattern = r"\d+"

In [86]:
string21 = "AC MILAN HAVE WON 7 CHAMPIONS LEAGUE AND REAL MADRID HAVE WON 14 CHAMPIONS LEAGUE."

In [87]:
for x in re.finditer(pattern, string21):
    print(f"Number is {x.group()} - index starts at {x.start()} & ends at {x.end()}")

Number is 7 - index starts at 18 & ends at 19
Number is 14 - index starts at 62 & ends at 64

<h2>QUESTION 22 ANSWER ⬇️</h2>

In [88]:
pattern = r"\d+"

In [89]:
string22 = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [90]:
re.findall(pattern, string22)

['947', '896', '926', '524', '734', '950', '642']

In [91]:
max(re.findall(pattern, string22))

'950'

<h2>QUESTION 23 ANSWER ⬇️</h2>

In [92]:
pattern = r"([A-Z])"

In [93]:
string23 = "RegularExpressionIsAnImportantTopicInPython"

In [94]:
output23 = re.sub(pattern, r" \1", string23)
print(output23)

 Regular Expression Is An Important Topic In Python

<h2>QUESTION 24 ANSWER ⬇️</h2>

In [95]:
pattern = r"[A-Z][a-z]+"

In [96]:
string24 = "RegularExpressionIsAnImportantTopicInPython45jhsdfgsHelp4People"

In [97]:
re.findall(pattern, string24)

['Regular',
 'Expression',
 'Is',
 'An',
 'Important',
 'Topic',
 'In',
 'Python',
 'Help',
 'People']

<h2>QUESTION 25 ANSWER ⬇️</h2>

In [98]:
import re
import regex as re

In [99]:
pattern = r"\b(\w+)(?:\W+\1\b)+"

In [100]:
string25 = "Hello hello world is great world John John Cena"

In [101]:
output25 = re.sub(pattern, r"\1", string25, flags=re.IGNORECASE)
print(output25)

Hello world is great world John Cena

<h2>QUESTION 26 ANSWER ⬇️</h2>

In [102]:
pattern = r"[a-zA-Z0-9]$"

string26 = input("jhsc : ")
print(re.search(pattern, string26))
if (re.search(pattern, string26)):
    print('Accept')
else:
    print("Wrong input")
    print()
    del string26

jhsc :  ashjda$% gdjsa 67gsdjyj SHAGJ6((jdsfsj

<regex.Match object; span=(37, 38), match='j'>
Accept

<h2>QUESTION 27 ANSWER ⬇️</h2>

In [103]:
pattern = r"#\w+\b"

In [104]:
string27 = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [105]:
output27 = re.findall(pattern, string27)
print(output27)

['#Doltiwal', '#xyzabc', '#Demonetization']

<h2>QUESTION 28 ANSWER ⬇️</h2>

In [106]:
pattern = r"<U\+[\w]+>"

In [107]:
string28 = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [108]:
re.findall(pattern, string28)

['<U+00A0>', '<U+00BD>', '<U+00B8>', '<U+0082>']

In [109]:
output28 = re.sub(pattern, r"",string28)

In [110]:
print(output28)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

<h2>QUESTION 29 ANSWER ⬇️</h2>

In [111]:
string_to_text_file2 = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

In [112]:
with open("text2.txt", "w") as file:
    file.write(string_to_text_file2)

In [113]:
with open("text2.txt", "r") as file:
    string29 = file.read()

In [114]:
print(string29)

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

In [115]:
pattern = "\d{1,2}-\d{1,2}-\d{4}"

In [116]:
output29=re.findall(pattern, string29)
print(output29)

['12-09-1992', '15-12-1999']

<h2>QUESTION 30 ANSWER ⬇️</h2>

In [117]:
pattern=r"\b\w{2,4}\b"

In [118]:
re_obj4 = re.compile(pattern)

In [119]:
string30 = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [120]:
re.findall(pattern, string30)

['The',
 'an',
 'with',
 'of',
 '50',
 'are',
 'then',
 'to',
 'the',
 'and',
 'the',
 'is']

In [121]:
re_obj4.findall(string30)

['The',
 'an',
 'with',
 'of',
 '50',
 'are',
 'then',
 'to',
 'the',
 'and',
 'the',
 'is']

In [122]:
output30=re_obj4.sub("", string30)

In [123]:
output30

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'